﻿@model List<Models.EF.Product>
@{
    ViewBag.Title = "Sản phẩm nổi bật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breaddcrumb{
    <div class="breadcrumb_dress">
        <div class="container">
            <ul>
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
                <li>Sản phẩm nổi bật</li>
            </ul>
        </div>
    </div>
}

<div class="container">
    <div class="w3ls_mobiles_grids">
        @{ Html.RenderAction("ProductCategory", "Product");}
        <div class="col-md-8 w3ls_mobiles_grid_right">

            <div class="w3ls_mobiles_grid_right_grid3">
                @foreach (var item in Model)
                {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles" style="height: 500px; width: 350px">
                        <div class="agile_ecommerce_tab_left mobiles_grid">
                            <div class="">
                                <img src="@item.Image" alt=" " class="img-responsive" style="height: 200px; width:200px; margin-left: 80px" />
                                @*<div class="w3_hs_bottom w3_hs_bottom_sub1">
                                        <ul>
                                            <li>
                                                <a href="@url" data-toggle="modal" data-target="#myModal9"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </div>
                            <h5><a href="@url">@item.Name</a></h5>
                            <div class="simpleCart_shelfItem">
                                <p> <i class="item_price">@(item.Price.HasValue?item.Price.Value.ToString("N0")+" VND":"Liên hệ")</i></p>
                                <form action="/them-gio-hang?productId=@item.ID&quantity=1" method="post">
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="w3ls_item" value="@item.Name" />
                                    <input type="hidden" name="amount" value="@(item.Price.HasValue?item.Price.Value.ToString():"Liên hệ")" />
                                    <button type="submit" class="w3ls-cart">Add to cart</button>
                                </form>
                            </div>
                            <div class="mobiles_grid_pos">
                                <h6>New</h6>
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="pagination" style="float:right">
            @if (ViewBag.TotalPage > 1)
            {
                var pageDisplay = (int)ViewBag.MaxPage;
                int totalPage = (int)ViewBag.TotalPage;
                int currentPage = ((int)ViewBag.Page);

                // Create numeric links
                var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                var link = "/san-pham";
                <nav>
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                            <li>
                                <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                            </li>

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {

                                <li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                            <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                        }

                    </ul>
                </nav>

            }
            else
            {
                @*<span>Không có bản ghi nào</span>*@
            }
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

