﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->
<div class="banner banner10">
    <div class="container">
        <h2>Giới thiệu</h2>
    </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
@section Breaddcrumb{
    <div class="breadcrumb_dress">
        <div class="container">
            <ul>
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
                <li>Giới thiệu</li>
            </ul>
        </div>
    </div>
}
<!-- //breadcrumbs -->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="w3ls_about_grids">
            <div class="col-md-6 w3ls_about_grid_left">
                <div class="col-xs-2 w3ls_about_grid_left1">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 w3ls_about_grid_left2">
                    <p style="font-size:larger">
                        Ngày nay với thời đại công nghệ thông tin bùng nổ nhu cầu mua hàng trực tuyến ngày càng được tiếp cận người tiêu dùng vì thế các website ngày càng phát triển, đổi mới để đáp ứng nhu cầu của khách hàng ,chính vì lí do đó bọn em chọn đề tài này để thiết kế 1 website bán đồ điện tử phục vụ lợi ích của khách hàng.
                    </p>
                </div>
                <div class="clearfix"> </div>
                @*<div class="col-xs-2 w3ls_about_grid_left1">
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 w3ls_about_grid_left2">
                        <p>
                            Sunt in culpa qui officia deserunt mollit
                            anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>*@
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 w3ls_about_grid_right">
                <img src="/Assets/client/images/gioithieu.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- team -->
<div class="team">
    <div class="container">
        <h3>Meet Our Team</h3>
        <div class="wthree_team_grids" style="padding-left:16%">
            <div class="col-md-3 wthree_team_grid">
                <img src="~/Assets/client/images/NguyenKhanhLe.jpg" alt=" " class="img-responsive" style="width:400px;height:350px" />
                <h4>Nguyễn Khánh Lê <span>Leader</span></h4>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <img src="~/Assets/client/images/NguyenMinhThang.png" alt=" " class="img-responsive" style="width:400px;height:350px" />
                <h4>Nguyễn Minh Thắng <span>Quản trị cơ sở dữ liệu</span></h4>
            </div>
            <div class="col-md-3 wthree_team_grid">
                <img src="~/Assets/client/images/DoanDucHoang.jpg" alt=" " class="img-responsive" style="width:400px;height:350px" />
                <h4>Đoàn Đức Hoàng<span>Thiết kế giao diện</span></h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->
<!-- //team-bottom -->
