﻿@model Models.EF.Content
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breaddcrumb{
    <div class="breadcrumb_dress">
        <div class="container">
            <ul>
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
                <li>@Model.Name</li>
            </ul>
        </div>
    </div>
}

<div class="container">
    @Html.Raw(Model.Detail)
</div>