﻿@model IEnumerable<Models.EF.Content>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breaddcrumb{
    <div class="breadcrumb_dress">
        <div class="container">
            <ul>
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
                <li>Tin tức</li>
            </ul>
        </div>
    </div>
}


    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="border-bottom" style="display:table-row; padding-bottom: 10px">
                <div class="col-sm-4">
                    <img src="@item.Image" alt=""
                         class="responsive">
                </div>
                <div class="col-sm-8">
                    <div class="row tieude-tin">
                        <span> <a href="/tin-tuc/@item.MetaTitle-@item.ID">@item.Name</a> </span>
                    </div>
                    <div class="row time">
                        @*<span class="calendar"><i class="far fa-calendar"></i> 29/12/1999</span>*@
                        <span class="file"><i class="fas fa-file-alt"></i> Tin tức</span>
                    </div>
                    <div class="row text">
                        <p>
                            <small>
                                @item.Description

                            </small>
                        </p>
                    </div>
                </div>

            </div>
                
            }

        </div>
        <hr>
        <!-- hết noidungtintuc -->
    </div>
