﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông tin đơn đặt hàng mới từ khách hàng: {{CustomerName}}</title>
</head>
<body>
    Thông tin đơn đặt hàng mới từ khách hàng: <strong>{{CustomerName}}</strong> <br />
    Điện thoại: {{Phone}}<br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}}<br />
    Tổng giá: {{Total}}<br />
</body>
</html>