﻿@model List<OnlineShopDemo.Models.CartItem>
<div style="float:right; margin-top: 15px">
    <a href="/Cart" class="btn btn-info" >
        <span>Giỏ hàng:</span>
            @Model.Count sản phẩm 
       
    </a>
</div>