﻿@model List<OnlineShopDemo.Models.CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breaddcrumb{
    <div class="breadcrumb_dress">
        <div class="container">
            <ul>
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
                <li>Giỏ hàng</li>
            </ul>
        </div>
    </div>
}

@section jsFooter{
    <script src="/Assets/client/js/controller/cartController.js"></script>
}
<div class="container">
    @if (Model.Count > 0)
    {

        <table class="table">
            <thead style="border-bottom: solid 2px #808080; text-align:center">
                <tr>
                    <td>
                        Mã SP
                    </td>
                    <td>
                        Tên sản phẩm
                    </td>
                    <td>
                        Hình ảnh
                    </td>
                    <td>
                        Số lượng
                    </td>
                    <td>
                        Đơn giá
                    </td>
                    <td>
                        Thành tiền
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </thead>
            <tbody style="border-bottom: solid 2px #808080;">
                @foreach (var item in Model)
                {
                    <tr style="border: solid 1px #8d8c8c;">
                        <td style="border-right: solid 1px #8d8c8c;">
                            @item.Product.ID
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            @item.Product.Name
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            <img src="@item.Product.Image" style="width:100px;height:100px;" />
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            <input type="number" data-id="@item.Product.ID" value="@item.Quantity" class="txt-quantity form-control " style="margin-top: 30px; text-align:center " />
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            @item.Product.Price.GetValueOrDefault(0).ToString("N0") VND
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            @((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0")) VND
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            <a href="javascript:void(0)" data-id="@item.Product.ID" class="btn-detele btn btn-block btn-danger" style="margin-top:20px ">Xóa</a>
                            <a href="javascript:void(0)" data-id="@item.Product.ID" class="btn-update btn btn-block btn-warning" style="margin-top:20px ">Cập nhật</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <button id="btnContinue" class="btn btn-primary">Tiếp tục mua hàng</button>
        @*<button id="btnUpdate" class="btn btn-warning" style="margin-left: 10px">Cập nhật giỏ hàng</button>*@
        <button id="btnDeleteAll" class="btn btn-danger" style="margin-left: 10px">Xóa giỏ hàng</button>
        <button id="btnPayment" class="btn btn-success" style="float: right">Đặt hàng</button>
    }
    else
    {
        <span class="alert alert-danger center-block text-center">Chưa có sản phẩm trong giỏ hàng</span>
    }

</div>