﻿@model List<OnlineShopDemo.Models.CartItem>
@{
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breaddcrumb{
    <div class="breadcrumb_dress">
        <div class="container">
            <ul>
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
                <li><a href="/gio-hang"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Giỏ hàng</a> <i>/</i></li>
                <li>Đặt hàng</li>
            </ul>
        </div>
    </div>
}

<div class="container">
    @if (Model.Count > 0)
    {

        <table class="table">
            <thead style="border-bottom: solid 2px #808080; text-align:center">
                <tr>
                    <td>
                        Mã SP
                    </td>
                    <td>
                        Tên sản phẩm
                    </td>
                    <td>
                        Hình ảnh
                    </td>
                    <td>
                        Số lượng
                    </td>
                    <td>
                        Đơn giá
                    </td>
                    <td>
                        Thành tiền
                    </td>
                </tr>
            </thead>
            <tbody style="border-bottom: solid 2px #808080;">
                @foreach (var item in Model)
                {
                    <tr style="border: solid 1px #8d8c8c;">
                        <td style="border-right: solid 1px #8d8c8c;">
                            @item.Product.ID
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            @item.Product.Name
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            <img src="@item.Product.Image" style="width:100px;height:100px;" />
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            <input type="number" id="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity" class="form-control" style="margin-top: 30px; text-align:center " />
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            @item.Product.Price.GetValueOrDefault(0).ToString("N0") VND
                        </td>
                        <td style="border-right: solid 1px #8d8c8c;">
                            @((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0")) VND
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
        <div class="col-md-6">
            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Người nhận:</label>*
                    <input type="text" name="shipName" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label>Điện thoại người nhận:</label>*
                    <input type="tel" name="mobile" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label>Địa chỉ nhận:</label>*
                    <textarea name="address" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label>Mail người nhận:</label>*
                    <input type="email" name="email" class="form-control" required/>
                </div>
                <div class="form-group">
                    <button type="submit" name="submit" class="btn btn-success">Thanh toán</button>
                </div>
            }
        </div>
        
</div>
