﻿@model IEnumerable<Models.EF.ProductCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách các hãng và loại sản phẩm
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>Tên</th>
                        <th>Trạng thái</th>
                        <th>Hiển thị tại trang chủ</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th>Tên</th>
                        <th>Trạng thái</th>
                        <th>Hiển thị tại trang chủ</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="row_@item.ID">

                        <td>
                            @item.Name
                        </td>
                        <td>
                            @(item.Status?"Actived":"Locked")
                        </td>
                        <td>
                            @(item.ShowOnHome?"Actived":"Locked")
                        </td>
                        <td>
                            <a href="/Admin/ProductCategory/Edit/@item.ID">Cập nhật</a>
                            |
                            @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                           {
                               Confirm = "Bạn có muốn xóa loại sản phẩm này??",
                               OnComplete = "$('#row_" + @item.ID + "').remove()",
                               HttpMethod = "Delete"
                           })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
        </div>
    </div>
</div>
