﻿@model List<Models.EF.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách đơn đặt hàng
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Họ và tên
                        </th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Họ và tên
                        </th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID">
                            <td>
                                @item.ShipName
                            </td>
                            <td>
                                @item.ShipMobile
                            </td>
                            <td>
                                @item.ShipAddress
                            </td>
                            <td>
                                @item.ShipEmail
                            </td>
                            <td>
                                @(item.Status?"Accept":"Waiting")
                            </td>
                            <td>
                                <a href="/Admin/Order/Edit/@item.ID">Xem chi tiết</a>
                                @*|
                                @Ajax.ActionLink("Deleted", "Delete", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Are you sure to delete this user??",
                                   OnComplete = "$('#row_" + @item.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
        </div>
    </div>
</div>
